<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

    <context:component-scan base-package="ru.kovrizhkin.springlearn"/>



<!--    <bean id="classicalBean"-->
<!--          class="ru.kovrizhkin.springlearn.ClassicalMusic"-->
<!--            scope="prototype"-->
<!--            init-method="doMyInit"-->
<!--            destroy-method="doMyDestroy"-->
<!--            factory-method="getClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="tranceBean"-->
<!--          class="ru.kovrizhkin.springlearn.TranceMusic">-->
<!--    </bean>-->


<!--    <bean id="musicPlayer"-->
<!--          class="ru.kovrizhkin.springlearn.MusicPlayer"-->
<!--            scope="prototype">-->
<!--        -->
<!--        <property name="musicList">-->
<!--                <list>-->
<!--                    <ref bean="rockBean"/>-->
<!--                    <ref bean="classicalBean"/>-->
<!--                    <ref bean="tranceBean"/>-->
<!--                </list>-->
<!--        </property>-->
<!--        -->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>